<footer class="footer">

    <div class="left">

        <span class="project-name">

            Enterprise AI HelpDesk

        </span>

        <span class="version">

            Version {{version}}

        </span>

    </div>

    <div class="center">

        <span>

            Backend :
            <strong>{{backendStatus}}</strong>

        </span>

        <span>

            Database :
            <strong>{{databaseStatus}}</strong>

        </span>

        <span>

            AI :
            <strong>{{aiStatus}}</strong>

        </span>

    </div>

    <div class="right">

        © {{currentYear}}

        Harpreet Kaur

    </div>

</footer>