<mat-sidenav-container class="layout-container">

    <!-- Sidebar -->

    <mat-sidenav
        #drawer
        class="sidebar"
        [opened]="sidebarOpened"
        [mode]="isMobile ? 'over' : 'side'">

        <app-sidebar></app-sidebar>

    </mat-sidenav>

    <!-- Content -->

    <mat-sidenav-content>

        <!-- Header -->

        <app-header
            (menuToggle)="toggleSidebar()">
        </app-header>

        <!-- Main Page -->

        <main class="page-content">

            <router-outlet></router-outlet>

        </main>

        <!-- Footer -->

        <app-footer></app-footer>

    </mat-sidenav-content>

</mat-sidenav-container>